body {
    color: white;
    background: rgba(228, 228, 228, 0.829);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgba(5, 54, 119, 0.808);
}

.chamada {
    background: rgba(25, 98, 182, 0.685);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    border-radius: 5%;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    border-radius: 5%;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgba(41, 156, 223, 0.747);
    border-radius: 5%;
}

.categoria h2 {
    color: rgb(21, 75, 146);
}